
@{
    ViewData["Title"] = "باشگاه مشتریان";
}
@section styles{
    <link href="@Url.Content("~/Styles/App/customize-template.min.css")" rel="stylesheet" />
}

<br />
<br />
<br />
<div class="alert alert-info text-center">
    این بخش بزودی فعال خواهد شد
</div>

