#ios {
    .hx {
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 800;
        line-height: 28px;
        text-align-last:center;
        margin-bottom:15px;
    }

    .hx-process {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 25px;
    }
    .guid{
        line-height:25px;
        text-align:justify;
        list-style:none;
        margin-right:0;
        padding-right:0;
        margin-left:0;
    }
}
