
@{
    Layout = null;
}

<section class="xs-breadcrumb breadcrumb-height">
    <div class="breadcrumb-bg banner-area banner-bg" style="background-image:url(//demo.ttthu.com/bime1/wp-content/uploads/2019/09/banner_bg-1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="banner-heading text-center">
                        <h1>
                            @ViewBag.Title
                        </h1>

                        <ol class="breadcrumb" data-wow-duration="2s"><li><a href="http://demo.ttthu.com/bime1">صفحه اصلی</a></li>  <li>@ViewBag.Title</li></ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

