<div class="container">
    <nav class="main-nav row">
        <div class="col-12">
            <label class="menu-icon" for="toggle"><i class="zmdi zmdi-menu"></i></label>
            <input type="checkbox" name="toggle" id="toggle" class="d-none" />
            <ul class="animated">
                <li class="logo"><img src="/Images/kingofday-black.png" /></li>
                <li class="close-menu"><label for="toggle"><i class="zmdi zmdi-close"></i></label></li>
                <li class="navlink"><a>خانه</a></li>
                <li class="navlink">
                    <a>دسته ها</a>
                    <ul class="sub-menu animated slideDown">
                        <li class="navlink"><a>آیتم 1</a></li>
                        <li class="navlink"><a>آیتم 2</a></li>
                    </ul>
                </li>
                <li class="navlink"><a>درباره ما</a></li>
                <li class="navlink"><a>تماس با ما</a></li>
            </ul>
        </div>
    </nav>
</div>
