<div class="container">
    <nav class="main-nav row">
        <div class="col-12 d-flex justify-content-between">
            <label class="menu-icon" for="toggle"><i class="zmdi zmdi-menu"></i></label>
            <input type="checkbox" name="toggle" id="toggle" class="d-none" />
            <ul class="animated">
                @*<li class="logo"><img src="@Url.Content("/Images/logo-2.png")" /></li>*@
                <li class="close-menu"><label for="toggle"><i class="zmdi zmdi-close"></i></label></li>
                <li class="navlink"><a href="@Url.Action("Index","Home",new { })">درباره ما</a></li>
                <li class="navlink"><a>تماس با ما</a></li>
                <li class="navlink"><a> قوانین و مقررات</a></li>
            </ul>
            <div class="float-left email">
                <i class="zmdi zmdi-email"></i><span>info@dnaft.ir</span>
            </div>
        </div>
    </nav>
</div>
