
<div class="border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary varia rtl-f-r" href="#"><i class="zmdi zmdi-menu"></i></a>
            <div class="minimalize-styl-2">
                @*<span class="m-r-sm text-muted welcome-message">@Strings.WelcomeMessage.</span>*@
            </div>
        </div>
        <div class="wide-logo d-flex justify-content-center align-items-center">
            <img src="~/Images/Portal/Logo-1.png" />
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a asp-controller="Auth" asp-action="SignOut">
                   @User.GetFullname() &nbsp;<span><i class="zmdi zmdi-power default-i"></i></span>
                </a>
            </li>
        </ul>

    </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-8 col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
    <div class="col-4 col-sm-4">
        <a href="@Url.Action("index","MemberStatistic")"><i class="zmdi zmdi-arrow-left default-i"></i></a>
    </div>
</div>