@model ContactUsDTO
@{
    ViewBag.Title = InsBrokers.Domain.Resource.Strings.ContactUs;
}

@section styles{
    <link href="@Url.Content("~/Styles/App/customize-template.min.css")" rel="stylesheet" />
}
<form asp-controller="MemberContactUs" asp-action="Add">
    <div class="row">
        <div class="col-12 col-sm-3"></div>
        <div class="col-12  col-sm-6">
            <div class="m-b- p-5 bg-white" dir="rtl">
                <div class="row">
                    <div class="col-12">
                        <custom-input-for for="FullName"></custom-input-for>
                    </div>
                    <div class="col-12">
                        <custom-input-for for="MobileNumber"></custom-input-for>
                    </div>
                    <div class="col-12">
                        <custom-input-for for="Subject"></custom-input-for>
                    </div>
                    <div class="col-12">
                        <custom-textarea-for for="Content"></custom-textarea-for>
                    </div>
                    <div class="col-12">
                        <custom-button type="button" text="@Strings.Submit" icon="zmdi zmdi-floppy" class="btn-primary full-width m-b btn-action" id="btn-submit"></custom-button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-3"></div>
    </div>
</form>
@section scripts{
    <script src="@Url.Content("~/Scripts/App/MemberContactUs/index.js")"></script>
}