
@{
    ViewBag.Title = "داشبورد کاربر";
}


<div class="continer">
    <div style="text-align:center">
        <h1> به کارگزاری رسمی بیمه صنعت نفت خوش آمدید</h1>
        <h3>با استفاده از منوهای سمت راست نسبت به تکمیل اطلاعات خود و یا ویرایش آن اقدام نمایید.</h3>
    </div>    
</div>
