body.rtls #page-wrapper {
  margin-right: 0 !important; }

.navbar-static-side, .navbar-static-top .navbar-header {
  display: none; }

body.rtls .navbar-top-links li:last-child {
  margin-left: 0 !important; }

.menu-item .menu-link {
  cursor: pointer; }
  .menu-item .menu-link figure {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .menu-item .menu-link figure img {
      max-width: 150px;
      margin-bottom: 5px; }
    .menu-item .menu-link figure i {
      font-size: 50px; }
  @media (max-width: 576px) {
    .menu-item .menu-link figure {
      padding: 10px 0;
      margin-bottom: 0px; }
      .menu-item .menu-link figure img {
        width: 100px; }
      .menu-item .menu-link figure figcaption {
        font-size: 0.9rem; } }

@media (max-width: 576px) {
  .menu-item {
    padding-right: 0 !important;
    padding-left: 0 !important; } }

.list-item {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 15px;
  margin-bottom: 15px;
  text-align: right;
  position: relative; }
  .list-item > .dropdown {
    float: left;
    cursor: pointer; }
