$navLinkColor: #fff;
$navLinkHoverColor: red;
$navLinkActiveBorderColor: blue;
$menuPadding: 7.5px;
$subMenuBgColor: #34495e;
$headerBgColor: #34495e;

header {
    background-color: $headerBgColor;

    ul{
        margin-bottom:0;
    }

    .main-nav {

        .menu-icon {
            padding-left: $menuPadding;
            display: none;
            padding: 15px 0;
            margin-bottom: 0;

            i {
                font-size: 20px;
                vertical-align: middle;
                color: $navLinkColor;
            }
        }


        ul {
            padding: 15px 0;

            li {
                display: inline-block;
                color: $navLinkColor;

                a {
                    padding: 5px 7.5px;
                    cursor: pointer;

                    &:hover {
                        color: $navLinkHoverColor !important;
                    }
                }

                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
            }

            .close-menu {
                display: none;
                position: absolute;
                top: 10px;
                left: 10px;

                i {
                    font-size: 20px;
                    vertical-align: middle;
                }
            }

            .logo {

                img {
                    width: 32px;
                }
            }

            @media(max-width:576px) {

                .logo {
                    display: none;
                }
            }
        }

        .sub-menu {
            display: none;
            background-color: $subMenuBgColor;
            min-width: 100px;
            box-shadow: 0 4px 7px 0 rgba(0,0,0,0.75) !important;
            position: absolute;
            z-index: 999;

            li {
                display: flex;
            }
        }

        @media(max-width:576px) {
            .menu-icon {
                display: inline-block;
            }

            ul {
                display: none;
                padding-top: 30px;
                animation-name: slideInRight;
                position: fixed;
                z-index: 999;
                top: 0;
                bottom: 0;
                width: 70%;
                flex-direction: column;
                background-color: $subMenuBgColor;
                box-shadow: 0 0 2px rgba(0,0,0,0.75);
                right: 0;

                li {
                    display: flex;
                }

                .close-menu {
                    display: block;
                }
            }

            [name=toggle]:checked + ul {
                display: flex;
            }
        }
    }

    .email {
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;

        .zmdi-email{
            margin-left:10px;
            font-size:20px;
        }
    }
}


html[dir=ltr] {
    .main-nav {
        ul {
            animation-name: slideInLeft;

            .menu-icon {
                padding-right: $menuPadding;
                padding-right: 0;
            }

            .close-menu {
                right: auto;
                right: 10px;
            }
        }

        @media(max-wdith:576ps) {
            ul {
                box-shadow: 0 0 -2px rgba(0,0,0,0.75);
            }
        }
    }
}
