.Zebra_DatePicker_Icon_Inside {
    top: 35px !important;
}

@font-face {
    font-family: "iransans";
    src: url(/Fonts/iransans.eot) format("embedded-opentype"), url(/Fonts/iransans.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

*:not(i) {
    font-family: "iransans";
}

p {
    margin-bottom: 0;
}

.elementor-icon-list-item:after {
    display: none;
}

.elementor-icon-list-icon i {
    display: none;
}

@media(max-width:576px) {
    #home-auth-page {
        padding: 30px;
    }
}

#row-req {
    margin-top: 20px;
    margin-bottom: 20px;

    #logo-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #insurance-req {
        display: flex;
        align-items: center;

        #btn-insurance-req {
            color: #fff;
            border: solid 2px #0c59a5;
            background-color: #0058AF;
            font-size: 1.3rem;
            padding: 10px 15px;

            &:hover {
                box-shadow: 0px 8px 15px rgba(74, 78, 174,0.5);
            }
        }
    }
}

footer {
    $footerTextColor: #010101;
    background-color: #d6e9fc;
    color: $footerTextColor;
    line-height: 28px;
    padding-top: 15px;
    margin-top: 15px;

    .sec {
        padding: 10px;
    }

    .hx {
        padding: 5px 0;
        font-weight: 800;
        color: #003478;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .links {
        display: flex;
        flex-direction: column;

        a {
            padding: 5px 0;
            color: $footerTextColor;
            font-size: 1.1rem;

            &:hover {
                text-decoration: none;
                color: #666;
            }
        }
    }

    .contact-info {

        .address, .phone-numbers, .sms {
            padding: 5px 0;

            i {
                font-size: 20px;
                vertical-align: middle;
                margin-left: 5px;
                color: #7f99bb;
            }

            a {
                color: $footerTextColor;
            }
        }
    }

    .feed {
        #input_feed {
            margin-top: 15px;
            width: 100%;
            border-radius: 3px;
            margin-bottom: 10px;
            text-align: center;
            padding: 10px;
            height: auto;
        }

        #btn_feed {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 91px 0px 10px 0px rgba(0,0,0,0);
            width: 100%;
            color: #ffffff;
            background-color: #003478;
            text-align: center;
            padding: 10px;
        }
    }

    .copy-right {
        padding: 10px 15px;
        background-color: #003478;
        color: #fff;
    }
}