[class^=col-] {
  display: flex; }

ul {
  list-style: none;
  padding: 0; }

html {
  font-size: 12px; }

.main-nav .menu-icon {
  padding-left: 7.5px;
  display: none;
  padding: 15px 0; }
  .main-nav .menu-icon i {
    font-size: 20px;
    vertical-align: middle; }

.main-nav ul {
  padding: 15px 0; }
  .main-nav ul li {
    display: inline-block; }
    .main-nav ul li a {
      padding: 5px 7.5px;
      cursor: pointer; }
      .main-nav ul li a:hover {
        color: red !important; }
    .main-nav ul li:hover .sub-menu {
      display: block; }
  .main-nav ul .close-menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px; }
    .main-nav ul .close-menu i {
      font-size: 20px;
      vertical-align: middle; }
  .main-nav ul .logo img {
    width: 32px; }
  @media (max-width: 576px) {
    .main-nav ul .logo {
      display: none; } }

.main-nav .sub-menu {
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
  position: absolute; }
  .main-nav .sub-menu li {
    display: flex; }

@media (max-width: 576px) {
  .main-nav .menu-icon {
    display: inline-block; }
  .main-nav ul {
    display: none;
    padding-top: 30px;
    animation-name: slideInRight;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    width: 70%;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    right: 0; }
    .main-nav ul li {
      display: flex; }
    .main-nav ul .close-menu {
      display: block; }
  .main-nav [name=toggle]:checked + ul {
    display: flex; } }

html[dir=ltr] .main-nav ul {
  animation-name: slideInLeft; }
  html[dir=ltr] .main-nav ul .menu-icon {
    padding-right: 7.5px;
    padding-right: 0; }
  html[dir=ltr] .main-nav ul .close-menu {
    right: auto;
    right: 10px; }

@media (max-wdith: 576ps) {
  html[dir=ltr] .main-nav ul {
    box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75); } }
