@{
    ViewBag.Title = Strings.WebsiteName;
    Layout = "../Shared/_PortalLayout";
}
@section styles{
    <link href="~/Styles/App/Home/index.min.css" rel="stylesheet" />
}
<div id="home-index-page">
    <div class="container">
        <div class="row" id="row-req">
            <div class="col-12 col-sm-6" id="logo-wrapper">
                <img src="@Url.Content("~/Images/Portal/Logo-1.png")" />
            </div>
            <div class="col-12 col-sm-6 justify-content-center justify-content-sm-end" id="insurance-req">
                <a id="btn-insurance-req" class="btn btn-warning" asp-controller="home" asp-action="register">درخواست بیمه</a>
            </div>
        </div>
    </div>
    <partial name="Partials/_Motto" />
    <partial name="Partials/_Counts" />
    <partial name="Partials/_DownloadApp" />
</div>
@section scripts{

}