@{
    ViewBag.Title = Strings.WebsiteName;
    Layout = "../Shared/_PortalLayout";
}
@section styles{
    <link href="~/Styles/App/Home/index.min.css" rel="stylesheet" />
}
<div id="home-index-page">
    <partial name="Partials/_Motto" />
    <partial name="Partials/_Counts" />
    <partial name="Partials/_DownloadApp" />
</div>
@section scripts{

}