@{
    ViewData["Title"] = "Home Page";
}
@section styles{
    <link href="~/Styles/Libs/slick.css" rel="stylesheet" />
}
<div class="home-index-page">
   <div class="slides">

   </div>
</div>
@section scripts{ 
    <script src="~/Scripts/Libs/slick.js"></script>
}