@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_PortalLayout";
}
@section styles{
    <link href="~/Styles/App/Home/index.min.css" rel="stylesheet" />
    <link href="~/Styles/Libs/slick.css" rel="stylesheet" />
    <link href="~/Styles/Libs/slick-theme.css" rel="stylesheet" />
}
<div id="home-index-page">
    <div id="main-slider-wrapper">
        <div id="main-slider">
            <div class="slide">
                <img src="~/Images/Slides/slide1.jpg" />
            </div>
            <div class="slide">
                <img src="~/Images/Slides/slide2.jpg" />
            </div>
        </div>
        <div id="cover">
            <h1 class="hx">@Strings.WebsiteName</h1>
            <button id="switch"> @*<i class="zmdi zmdi-chevron-up"></i><i class="zmdi zmdi-chevron-up"></i>*@</button>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/Libs/slick.js"></script>
    <script src="~/Scripts/App/Home/index.js"></script>
}