
@{
    ViewData["Title"] = "IOS";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
@section styles{
    <link href="~/Styles/App/Home/ios.min.css" rel="stylesheet" />
}
<div class="container" id="ios">
    <div class="row">
        <div class="col-12 col-sm-6 d-flex justify-content-center mb-15" id="img-wrapper">
            <img src="@Url.Content("~/Images/Portal/ios.jpeg")" />
        </div>
        <div class="col-12 col-sm-6" id="ios">
            <h1 class="hx">
                وب اپلیکیشن درمان نفت را به صفحه اصلی موبایل خود اضافه کنید و همانند یک اپلیکیشن از آن استفاده کنید.
            </h1>
            <h2 class="hx-process">
                اگر از دستگاه‌های IOS کمپانی اپل نظیر آیفون، آیپد یا آیپاد استفاده می‌کنید، باید مراحل زیر را طی کنید:
            </h2>
            <ul class="guid">
                <li>
                    1-	ابتدا مرورگر Safari دستگاه خود را باز کنید.
                </li>
                <li>
                    2-	سپس با وارد کردن آدرس www.darmannaft.com وارد سایت شوید.
                </li>
                <li>
                    3-	آیکون مربوط به اشتراک‌گذاری یا Share موجود در رابط مرورگر Safari را انتخاب کنید.
                    (این آیکون با یک مستطیل و فلشی در درون آن قابل مشاهده است.)
                </li>
                <li>
                    4-	منوی باز شده را به سمت بالا کشیده و گزینه Add to Home Screen را انتخاب کنید.

                </li>


            </ul>
        </div>
    </div>
</div>

