<section class="elementor-element elementor-element-efa6ebe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="efa6ebe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-bc20519 elementor-column elementor-col-100 elementor-top-column" data-id="bc20519" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-07a9809 elementor-widget elementor-widget-text-editor" data-id="07a9809" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix"><p style="text-align:center">© 2020, تمامی حقوق این سایت محفوض است.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="elementor-element elementor-element-ed87453 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ed87453" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-5e9c433 elementor-column elementor-col-100 elementor-top-column" data-id="5e9c433" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-ee3f72b elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-instive-back-to-top" data-id="ee3f72b" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="instive-back-to-top.default">
                            <div class="elementor-widget-container">

                                <div class="ts-scroll-box">
                                    <div class="scroll-button">
                                        <a href="#" class="scroll-top" aria-hidden="true">
                                            <i class="tsicon tsicon-arrow-up"></i>
                                        </a>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>