
@{
    Layout = null;
}

<div id="counts">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-4">
                <div class="widget" id="count-1">
                    <div class="row">
                        <div class="col-8 text-right">
                            <span>تعداد بیمه نامه صادر شده </span>
                            <h4 class="font-bold">123</h4>
                        </div>
                        <div class="col-4 text-center">
                            <i class="zmdi zmdi-receipt font-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <div class="widget" id="count-2">
                    <div class="row">
                        <div class="col-8 text-right">
                            <span>تعداد مشتری </span>
                            <h4 class="font-bold">456</h4>
                        </div>
                        <div class="col-4 text-center">
                            <i class="zmdi zmdi-accounts font-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <div class="widget" id="count-3">
                    <div class="row">
                        <div class="col-8 text-right">
                            <span>تعداد دانلود اپلیکیشن </span>
                            <h4 class="font-bold">789</h4>
                        </div>
                        <div class="col-4 text-center">
                            <i class="zmdi zmdi-tablet-android font-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

