
@{
    Layout = null;
}

<div id="download-app">
    <div class="container">
        <div class="row">
            <div class="d-none d-sm-flex col-sm-4 justify-content-center">
                <img src="@Url.Content("~/Images/Portal/mobile.jpg")" />
            </div>
            <div class="col-12 col-sm-8" id="download">
                <h5 class="hx">برای دانلود اپلیکیشن از گزینه های زیر اقدام کنید</h5>
                <div class="btns">
                    <a id="btn-android" class="btn btn-success">
                        <i class="zmdi zmdi-android"></i>
                        اندروید
                    </a>
                    <a id="btn-ios" class="btn btn-info">
                        <i class="zmdi zmdi-apple"></i>
                        IOS
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>

