
@{
    Layout = null;
}

<div id="motto-wrapper">
    @*<img src="@Url.Content("~/Images/Portal/mottob-bg.jpg")" />
    <div class="content">*@
        <h3 id="motto">زندگی سپر بلا می خواهد!</h3>
        <div class="btns">
            <a asp-controller="home" asp-action="register" class="btn btn-success" id="btn-sign-up">ثبت نام</a>
            <a asp-controller="auth" asp-action="signin" class="btn btn-info" id="btn-sign-in">ورود</a>
        </div>
    @*</div>*@

</div>

