@model PortalSignUpModel
@using Elk.Core
@{
    Layout = null;
}

<form id="frm-register" class="w-100" action="@Url.Action("SignUp","Home")">
    <div class="row">
        <div style="width: 100%;">
            <div class="field m-b" style=" border: #00000015;
                 border-style: solid;
                 padding-right: 15px;
                 padding-left: 15px;
                 margin: 15px;">
                <label class="label label-info" style="margin-top:15px;">
                    <span>اطلاعات سازمانی</span>
                </label>
                <div class="row">
                    <div class="alert alert-info" style="
                            width:100%;
                            padding-right: 15px;
                            margin: 15px; ">
                        <p class="text">برای مشاهده جزئیات طرح های بیمه تکمیلی بر روی آن کلیک نمایید.</p>
                        <br />
                        <ul>
                            <li style="padding-top:10px;"><a target="_blank" href="~/Files/Boronzi.jpeg">طرح برنزی</a></li>
                            <li style="padding-top:10px;"><a target="_blank" href="~/Files/Noghrei.jpeg">طرح نقره ای</a></li>
                            <li style="padding-top:10px;"><a target="_blank" href="~/Files/Talaei.jpeg">طرح طلایی</a></li>
                        </ul>
                    <div style="padding-top: 20px;">
                        <p class="text">جهت آشنایی بیشتر با قوانین و طرح ها می توانید با شماره های سازمان نظام دامپزشکی <a style="color:crimson" href="tel:02161061125">02161061125</a> و <a style="color:crimson" href="tel:02161061139">02161061139</a> تماس حاصل نمایید.</p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-select-for for="Organization" class="form-control" items="ViewBag.OrganizationList" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="Company" class="form-control" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-select-for for="InsurancePlan" class="form-control" items="ViewBag.InsurancePlan" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-select-for for="BaseInsurance" class="form-control" items="EnumExtension.GetEnumElements<BaseInsuranceType>().Select(x=>new SelectListItem {
                            Text = x.Description, Value = x.Name }).ToList()" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="InsuranceNumber" class="form-control ltr-elm" />
                    </div>
                </div>
                <div class="row">
                    <div style="
                            width:100%;
                            margin: 15px; ">
                        <input type="checkbox" id="HasAccidentsInsurance" name="HasAccidentsInsurance" value="true" checked="checked" disabled="disabled" title="بیمه عمر و حوادث برای بیمه گر اصلی اجباری می باشد." />
                        <span>برای اعضاء اصلی  سرمایه فوت به هر علت به مبلغ 500.000.000 ریال، فوت بر اثر حادثه500.000.000 ریال، نقص عضو و از کار افتادگی 500.000.000 ریال در نظر گرفته شده است. </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width: 100%;">
            <div class="field m-b" style="border: #00000015;
                border-style: solid;
                padding-right: 15px;
                padding-left: 15px;
                margin: 15px;">
                <label class="label label-info" style="margin-top:15px;">
                    <span>اطلاعات شخصی</span>
                </label>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="Name" class="form-control" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="Family" class="form-control" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="FatherName" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-select-for for="Gender" class="form-control" items="EnumExtension.GetEnumElements<Gender>().Select(x=>new SelectListItem {
                            Text = x.Description,
                            Value = x.Name
                        }).ToList()" />
                    </div>
                    <div class="col-12 col-sm-4">
                        <custom-input-for for="BirthDay" class="form-control ltr-elm pdate" />
                    </div>
                    <div class="col-12 col-sm-4">
                        <custom-input-for for="IdentityNumber" class="form-control ltr-elm" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <custom-input-for for="NationalCode" class="form-control ltr-elm" />
                    </div>
                    <div class="col-12 col-sm-4">
                        <custom-input-for for="MobileNumber" class="form-control ltr-elm" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width: 100%;">
            <div class="field m-b" style="border: #00000015;
                border-style: solid;
                padding-right: 15px;
                padding-left: 15px;
                margin: 15px;">
                <label class="label label-info" style="margin-top:15px;">
                    <span>اطلاعات بانکی</span>
                </label>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-select-for for="BankName" class="form-control" items="EnumExtension.GetEnumElements<BankName>().Select(x=>new SelectListItem {
                            Text = x.Description,
                            Value = x.Name
                        }).ToList()" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="AccountNumber" class="form-control ltr-elm" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="Shaba" class="form-control ltr-elm" place-holder="IR..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width: 100%;">
            <div class="field m-b" style="border: #00000015;
                border-style: solid;
                padding-right: 15px;
                padding-left: 15px;
                margin: 15px;">
                <label class="label label-info" style="margin-top:15px;">
                    <span>آدرس</span>
                </label>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="Province" class="form-control" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <custom-input-for for="City" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <custom-textarea-for for="AddressDetails" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="field m-b" style="border: #00000015;
                border-style: solid;
                padding-right: 15px;
                padding-left: 15px;">
                <label class="label label-info" style="margin-top:15px;">
                    <span>آپلود مدارک</span>
                </label>
                <partial name="Partials/_UserAttachment" model='new List<UserAttachment>()
                    {
                        new UserAttachment{ UserAttachmentType = AttachmentType.IdentityCardPage1 },
                        new UserAttachment{ UserAttachmentType = AttachmentType.IdentityCardPage2 },
                        new UserAttachment{ UserAttachmentType = AttachmentType.NationalCard }
                    }' />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end mb-15">
            <a class="btn btn-info btn-action ml-2" href="@Url.Action("Index","Home")">
                <div class="icon">
                    <i class="zmdi zmdi-sign-in"></i>
                </div>
                <span class="text">@Strings.Return</span>
            </a>
            <custom-button id="btn-sign-up" class="btn btn-primary" type="button" text="@Strings.SignUp" icon="zmdi zmdi-floppy"></custom-button>
        </div>
    </div>
</form>

