@model List<UserAttachment>
@{
    Layout = null;
}

<input id="input-file" type="file" class="d-none" />
<div class="upload-box">
    <div class="row" id="files">
        @if (Model != null)
        {
            foreach (var attachment in Model)
            {
                <div class="col-12 m-b upload-wrapper">
                    <div class="uploader">
                        <input class="input-uploader d-none" type="file" accept="image/*" name="img-uploader" data-type="@attachment.UserAttachmentType" />
                        <i class="zmdi zmdi-plus"></i>
                        <label class="title">آپلود @attachment.UserAttachmentType.GetDescription()</label>
                    </div>
                </div>
            }
        }
    </div>
</div>