@model User
@{
    ViewBag.Title = Strings.Profile;
}
@section styles{
    <link href="@Url.Content("~/Styles/App/customize-template.min.css")" rel="stylesheet" />
}
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@Strings.Profile</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <a class="close-link">
                        <i class="zmdi zmdi-close"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form role="form" asp-controller="User" asp-action="ProfileInfo" method="post">
                    @Html.HiddenFor(x => x.UserId)
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="Email"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="Name"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="Family"></custom-input-for>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="FatherName"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="NationalCode" class="form-control ltr-elm"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="IdentityNumber" class="form-control ltr-elm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-select-for for="BaseInsurance" items="EnumExtension.GetEnumElements<BaseInsuranceType>().Select(x=>new SelectListItem {
                                Text = x.Description,
                                Value = x.Description
                            }).ToList()" />
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="BirthDay" class="form-control pdate ltr-elm"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="MobileNumber"></custom-input-for>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-select-for for="Gender" class="form-control" items="EnumExtension.GetEnumElements<Gender>().Select(x=>new SelectListItem {
                                Text = x.Description,
                                Value = x.Name
                            }).ToList()" />
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for type="password" for="NewPassword" class="form-control ltr-elm"></custom-input-for>
                        </div>
                    </div>

                    <div class="row btn-group">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary block m-b m-t btn-action btn-sign-in" data-ajax-submit="true">
                                <span class="text">@Strings.Submit</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-floppy rotate-180 default-i"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>