@model ContactUsSearchFilter
@{
    Layout = null;
}

<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="Subject" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="MobileNumber" />
    </div>
</div>
